<h1> SQL magic command with SQLite

In [1]:
#%pip install pyodbc
#%pip install ipython-sql

In [2]:
import pandas as pd
import pyodbc
import sqlalchemy

In [51]:
%load_ext sql
#%config SqlMagic.autocommit=False # for engines that do not support autommit

#'mssql://*server_name*/*database_name*?trusted_connection=yes')

# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [54]:
%sql mssql+pyodbc://sa:sa@LAPTOP-V5I6GBNJ:1433/AdventureWorks2017?DRIVER={SQL+Server}
#%sql sqlite://

(pyodbc.OperationalError) ('08001', '[08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]SQL Server does not exist or access denied. (17) (SQLDriverConnect); [08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionOpen (Connect()). (53)')
(Background on this error at: http://sqlalche.me/e/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite://'])

In [6]:
%%sql   
CREATE TABLE EMPLOYEE(firstname varchar(50),lastname varchar(50));  
INSERT INTO EMPLOYEE VALUES('Tom','Mitchell');  
INSERT INTO EMPLOYEE VALUES('Jack','Ryan');

 * sqlite://
Done.
1 rows affected.
1 rows affected.

[]

In [7]:
%sql SELECT * from EMPLOYEE;

 * sqlite://
Done.

[('Tom', 'Mitchell'), ('Jack', 'Ryan')]

<h1> Connecting to MSSQL server with connection string

In [38]:
import pyodbc
server = 'LAPTOP-V5I6GBNJ'
database = 'AdventureWorks2017'
username = 'sa'
password = 'sa'
driver = '{SQL Server}' # Driver you need to connect to the database
port = '1433'
cnn = pyodbc.connect('DRIVER='+driver+';PORT=port;SERVER='+server+';PORT=1443;DATABASE='+database+';UID='+username+
                 ';PWD='+password)
cursor = cnn.cursor()

In [43]:
cursor.execute("select top 3* from HumanResources.Employee")

In [44]:
for row in cursor:
    print (row)

(1, '295847284', 'adventure-works\\ken0', None, None, 'Chief Executive Officer', '1969-01-29', 'S', 'M', '2009-01-14', True, 99, 69, True, 'F01251E5-96A3-448D-981E-0F99D789110D', datetime.datetime(2014, 6, 30, 0, 0))
(2, '245797967', 'adventure-works\\terri0', b'X', 1, 'Vice President of Engineering', '1971-08-01', 'S', 'F', '2008-01-31', True, 1, 20, True, '45E8F437-670D-4409-93CB-F9424A40D6EE', datetime.datetime(2014, 6, 30, 0, 0))
(3, '509647174', 'adventure-works\\roberto0', b'Z\xc0', 2, 'Engineering Manager', '1974-11-12', 'M', 'M', '2007-11-11', True, 2, 21, True, '9BBBFB2C-EFBB-4217-9AB7-F97689328841', datetime.datetime(2014, 6, 30, 0, 0))

In [36]:
for driver in pyodbc.drivers():
    print(driver)

SQL Server
SQL Server Native Client 11.0
SQL Server Native Client RDA 11.0
ODBC Driver 13 for SQL Server
ODBC Driver 17 for SQL Server
PostgreSQL ANSI(x64)
PostgreSQL Unicode(x64)
Amazon Redshift (x64)

In [45]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %conda  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %sql  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%sql  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [46]:
%sql

 * sqlite://

'Connected: @None'

In [94]:
%sql select * from information_schema.tables go

 * mssql+pyodbc:///?odbc_connect=DRIVER={SQL Server};SERVER=LAPTOP-V5I6GBNJ;DATABASE=AdventureWorks2017;TRUSTED_CONNECTION=YES
   sqlite://
Done.

[('AdventureWorks2017', 'HumanResources', 'EmployeePayHistory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SalesOrderHeaderSalesReason', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SalesPerson', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'Illustration', 'BASE TABLE'),
 ('AdventureWorks2017', 'HumanResources', 'JobCandidate', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'Location', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'Password', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SalesPersonQuotaHistory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'Person', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SalesReason', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SalesTaxRate', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'PersonCreditCard', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'vAdditionalContactInfo', 'VIEW'),
 ('AdventureWorks2017', 'Person', 'PersonPhone', 'BASE TABLE'),
 ('AdventureWorks2017', 'HumanResources', 'vEmployee', 'VIEW'),
 ('AdventureWorks2017', 'Sales', 'SalesTerritory', 'BASE TABLE'),
 ('AdventureWorks2017', 'HumanResources', 'vEmployeeDepartment', 'VIEW'),
 ('AdventureWorks2017', 'Person', 'PhoneNumberType', 'BASE TABLE'),
 ('AdventureWorks2017', 'HumanResources', 'vEmployeeDepartmentHistory', 'VIEW'),
 ('AdventureWorks2017', 'Sales', 'vIndividualCustomer', 'VIEW'),
 ('AdventureWorks2017', 'Production', 'Product', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'vPersonDemographics', 'VIEW'),
 ('AdventureWorks2017', 'HumanResources', 'vJobCandidate', 'VIEW'),
 ('AdventureWorks2017', 'HumanResources', 'vJobCandidateEmployment', 'VIEW'),
 ('AdventureWorks2017', 'HumanResources', 'vJobCandidateEducation', 'VIEW'),
 ('AdventureWorks2017', 'Production', 'vProductAndDescription', 'VIEW'),
 ('AdventureWorks2017', 'Production', 'vProductModelCatalogDescription', 'VIEW'),
 ('AdventureWorks2017', 'Production', 'vProductModelInstructions', 'VIEW'),
 ('AdventureWorks2017', 'Sales', 'vSalesPerson', 'VIEW'),
 ('AdventureWorks2017', 'Sales', 'SalesTerritoryHistory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'vSalesPersonSalesByFiscalYears', 'VIEW'),
 ('AdventureWorks2017', 'Person', 'vStateProvinceCountryRegion', 'VIEW'),
 ('AdventureWorks2017', 'Sales', 'vStoreWithDemographics', 'VIEW'),
 ('AdventureWorks2017', 'Sales', 'vStoreWithContacts', 'VIEW'),
 ('AdventureWorks2017', 'Production', 'ScrapReason', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'vStoreWithAddresses', 'VIEW'),
 ('AdventureWorks2017', 'Purchasing', 'vVendorWithContacts', 'VIEW'),
 ('AdventureWorks2017', 'HumanResources', 'Shift', 'BASE TABLE'),
 ('AdventureWorks2017', 'Purchasing', 'vVendorWithAddresses', 'VIEW'),
 ('AdventureWorks2017', 'Production', 'ProductCategory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Purchasing', 'ShipMethod', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductCostHistory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductDescription', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'ShoppingCartItem', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductDocument', 'BASE TABLE'),
 ('AdventureWorks2017', 'dbo', 'DatabaseLog', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductInventory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SpecialOffer', 'BASE TABLE'),
 ('AdventureWorks2017', 'dbo', 'ErrorLog', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductListPriceHistory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'Address', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SpecialOfferProduct', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductModel', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'AddressType', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'StateProvince', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductModelIllustration', 'BASE TABLE'),
 ('AdventureWorks2017', 'dbo', 'AWBuildVersion', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductModelProductDescriptionCulture', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'BillOfMaterials', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'Store', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductPhoto', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductProductPhoto', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'TransactionHistory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductReview', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'BusinessEntity', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'TransactionHistoryArchive', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductSubcategory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'BusinessEntityAddress', 'BASE TABLE'),
 ('AdventureWorks2017', 'Purchasing', 'ProductVendor', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'BusinessEntityContact', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'UnitMeasure', 'BASE TABLE'),
 ('AdventureWorks2017', 'Purchasing', 'Vendor', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'ContactType', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'CountryRegionCurrency', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'CountryRegion', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'WorkOrder', 'BASE TABLE'),
 ('AdventureWorks2017', 'Purchasing', 'PurchaseOrderDetail', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'CreditCard', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'Culture', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'WorkOrderRouting', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'Currency', 'BASE TABLE'),
 ('AdventureWorks2017', 'Purchasing', 'PurchaseOrderHeader', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'CurrencyRate', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'Customer', 'BASE TABLE'),
 ('AdventureWorks2017', 'HumanResources', 'Department', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'Document', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SalesOrderDetail', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'EmailAddress', 'BASE TABLE'),
 ('AdventureWorks2017', 'HumanResources', 'Employee', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SalesOrderHeader', 'BASE TABLE'),
 ('AdventureWorks2017', 'HumanResources', 'EmployeeDepartmentHistory', 'BASE TABLE')]

<h1> MSSQL Server connection with SQL Magic </h1>

In [57]:
import urllib
params = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=LAPTOP-V5I6GBNJ;DATABASE=AdventureWorks2017;TRUSTED_CONNECTION=YES")
"mssql+pyodbc:///?odbc_connect=%s" % params

'mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3DLAPTOP-V5I6GBNJ%3BDATABASE%3DAdventureWorks2017%3BTRUSTED_CONNECTION%3DYES'

In [58]:
%sql mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3DLAPTOP-V5I6GBNJ%3BDATABASE%3DAdventureWorks2017%3BTRUSTED_CONNECTION%3DYES

'Connected: @'

In [99]:
%sql select * from information_schema.tables

 * mssql+pyodbc:///?odbc_connect=DRIVER={SQL Server};SERVER=LAPTOP-V5I6GBNJ;DATABASE=AdventureWorks2017;TRUSTED_CONNECTION=YES
   sqlite://
Done.

[('AdventureWorks2017', 'HumanResources', 'EmployeePayHistory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SalesOrderHeaderSalesReason', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SalesPerson', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'Illustration', 'BASE TABLE'),
 ('AdventureWorks2017', 'HumanResources', 'JobCandidate', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'Location', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'Password', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SalesPersonQuotaHistory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'Person', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SalesReason', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SalesTaxRate', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'PersonCreditCard', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'vAdditionalContactInfo', 'VIEW'),
 ('AdventureWorks2017', 'Person', 'PersonPhone', 'BASE TABLE'),
 ('AdventureWorks2017', 'HumanResources', 'vEmployee', 'VIEW'),
 ('AdventureWorks2017', 'Sales', 'SalesTerritory', 'BASE TABLE'),
 ('AdventureWorks2017', 'HumanResources', 'vEmployeeDepartment', 'VIEW'),
 ('AdventureWorks2017', 'Person', 'PhoneNumberType', 'BASE TABLE'),
 ('AdventureWorks2017', 'HumanResources', 'vEmployeeDepartmentHistory', 'VIEW'),
 ('AdventureWorks2017', 'Sales', 'vIndividualCustomer', 'VIEW'),
 ('AdventureWorks2017', 'Production', 'Product', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'vPersonDemographics', 'VIEW'),
 ('AdventureWorks2017', 'HumanResources', 'vJobCandidate', 'VIEW'),
 ('AdventureWorks2017', 'HumanResources', 'vJobCandidateEmployment', 'VIEW'),
 ('AdventureWorks2017', 'HumanResources', 'vJobCandidateEducation', 'VIEW'),
 ('AdventureWorks2017', 'Production', 'vProductAndDescription', 'VIEW'),
 ('AdventureWorks2017', 'Production', 'vProductModelCatalogDescription', 'VIEW'),
 ('AdventureWorks2017', 'Production', 'vProductModelInstructions', 'VIEW'),
 ('AdventureWorks2017', 'Sales', 'vSalesPerson', 'VIEW'),
 ('AdventureWorks2017', 'Sales', 'SalesTerritoryHistory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'vSalesPersonSalesByFiscalYears', 'VIEW'),
 ('AdventureWorks2017', 'Person', 'vStateProvinceCountryRegion', 'VIEW'),
 ('AdventureWorks2017', 'Sales', 'vStoreWithDemographics', 'VIEW'),
 ('AdventureWorks2017', 'Sales', 'vStoreWithContacts', 'VIEW'),
 ('AdventureWorks2017', 'Production', 'ScrapReason', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'vStoreWithAddresses', 'VIEW'),
 ('AdventureWorks2017', 'Purchasing', 'vVendorWithContacts', 'VIEW'),
 ('AdventureWorks2017', 'HumanResources', 'Shift', 'BASE TABLE'),
 ('AdventureWorks2017', 'Purchasing', 'vVendorWithAddresses', 'VIEW'),
 ('AdventureWorks2017', 'Production', 'ProductCategory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Purchasing', 'ShipMethod', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductCostHistory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductDescription', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'ShoppingCartItem', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductDocument', 'BASE TABLE'),
 ('AdventureWorks2017', 'dbo', 'DatabaseLog', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductInventory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SpecialOffer', 'BASE TABLE'),
 ('AdventureWorks2017', 'dbo', 'ErrorLog', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductListPriceHistory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'Address', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SpecialOfferProduct', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductModel', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'AddressType', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'StateProvince', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductModelIllustration', 'BASE TABLE'),
 ('AdventureWorks2017', 'dbo', 'AWBuildVersion', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductModelProductDescriptionCulture', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'BillOfMaterials', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'Store', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductPhoto', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductProductPhoto', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'TransactionHistory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductReview', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'BusinessEntity', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'TransactionHistoryArchive', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'ProductSubcategory', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'BusinessEntityAddress', 'BASE TABLE'),
 ('AdventureWorks2017', 'Purchasing', 'ProductVendor', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'BusinessEntityContact', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'UnitMeasure', 'BASE TABLE'),
 ('AdventureWorks2017', 'Purchasing', 'Vendor', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'ContactType', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'CountryRegionCurrency', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'CountryRegion', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'WorkOrder', 'BASE TABLE'),
 ('AdventureWorks2017', 'Purchasing', 'PurchaseOrderDetail', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'CreditCard', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'Culture', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'WorkOrderRouting', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'Currency', 'BASE TABLE'),
 ('AdventureWorks2017', 'Purchasing', 'PurchaseOrderHeader', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'CurrencyRate', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'Customer', 'BASE TABLE'),
 ('AdventureWorks2017', 'HumanResources', 'Department', 'BASE TABLE'),
 ('AdventureWorks2017', 'Production', 'Document', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SalesOrderDetail', 'BASE TABLE'),
 ('AdventureWorks2017', 'Person', 'EmailAddress', 'BASE TABLE'),
 ('AdventureWorks2017', 'HumanResources', 'Employee', 'BASE TABLE'),
 ('AdventureWorks2017', 'Sales', 'SalesOrderHeader', 'BASE TABLE'),
 ('AdventureWorks2017', 'HumanResources', 'EmployeeDepartmentHistory', 'BASE TABLE')]

In [101]:
df.DataFrame()[df.DataFrame()['TABLE_NAME'].str.contains('sal',case=False)]

,TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,TABLE_TYPE
1,AdventureWorks2017,Sales,SalesOrderHeaderSalesReason,BASE TABLE
2,AdventureWorks2017,Sales,SalesPerson,BASE TABLE
7,AdventureWorks2017,Sales,SalesPersonQuotaHistory,BASE TABLE
9,AdventureWorks2017,Sales,SalesReason,BASE TABLE
10,AdventureWorks2017,Sales,SalesTaxRate,BASE TABLE
15,AdventureWorks2017,Sales,SalesTerritory,BASE TABLE
28,AdventureWorks2017,Sales,vSalesPerson,VIEW
29,AdventureWorks2017,Sales,SalesTerritoryHistory,BASE TABLE
30,AdventureWorks2017,Sales,vSalesPersonSalesByFiscalYears,VIEW
86,AdventureWorks2017,Sales,SalesOrderDetail,BASE TABLE
89,AdventureWorks2017,Sales,SalesOrderHeader,BASE TABLE

In [104]:
%sql select top * from sales.SalesOrderDetail

 * mssql+pyodbc:///?odbc_connect=DRIVER={SQL Server};SERVER=LAPTOP-V5I6GBNJ;DATABASE=AdventureWorks2017;TRUSTED_CONNECTION=YES
   sqlite://
Done.

[(43659, 1, '4911-403C-98', 1, 776, 1, Decimal('2024.9940'), Decimal('0.0000'), Decimal('2024.994000'), 'B207C96D-D9E6-402B-8470-2CC176C42283', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 2, '4911-403C-98', 3, 777, 1, Decimal('2024.9940'), Decimal('0.0000'), Decimal('6074.982000'), '7ABB600D-1E77-41BE-9FE5-B9142CFC08FA', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 3, '4911-403C-98', 1, 778, 1, Decimal('2024.9940'), Decimal('0.0000'), Decimal('2024.994000'), '475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 4, '4911-403C-98', 1, 771, 1, Decimal('2039.9940'), Decimal('0.0000'), Decimal('2039.994000'), '04C4DE91-5815-45D6-8670-F462719FBCE3', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 5, '4911-403C-98', 1, 772, 1, Decimal('2039.9940'), Decimal('0.0000'), Decimal('2039.994000'), '5A74C7D2-E641-438E-A7AC-37BF23280301', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 6, '4911-403C-98', 2, 773, 1, Decimal('2039.9940'), Decimal('0.0000'), Decimal('4079.988000'), 'CE472532-A4C0-45BA-816E-EEFD3FD848B3', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 7, '4911-403C-98', 1, 774, 1, Decimal('2039.9940'), Decimal('0.0000'), Decimal('2039.994000'), '80667840-F962-4EE3-96E0-AECA108E0D4F', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 8, '4911-403C-98', 3, 714, 1, Decimal('28.8404'), Decimal('0.0000'), Decimal('86.521200'), 'E9D54907-E7B7-4969-80D9-76BA69F8A836', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 9, '4911-403C-98', 1, 716, 1, Decimal('28.8404'), Decimal('0.0000'), Decimal('28.840400'), 'AA542630-BDCD-4CE5-89A0-C1BF82747725', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 10, '4911-403C-98', 6, 709, 1, Decimal('5.7000'), Decimal('0.0000'), Decimal('34.200000'), 'AC769034-3C2F-495C-A5A7-3B71CDB25D4E', datetime.datetime(2011, 5, 31, 0, 0))]