In [11]:
a=list([1,0,1,0,1,1,1])

In [14]:
sum(a)

5

In [25]:
import pandas as pd
import numpy as np

In [23]:
df=pd.DataFrame({'a':[1,0,1,0,0,1],'b':[1,0,1,0,1,1]})

In [18]:
df

   a  b
0  1  1
1  0  0
2  1  1
3  0  0
4  1  1
5  1  1

In [24]:
sum((df['a']==1)&(df['b']==1))

3

In [34]:
#Actual
m=np.array([1,0,1,0,0,1])
# Predicted
n=np.array([1,0,0,0,0,1])

In [36]:
tp,tn,fn,fp=sum((m==1)&(n==1)),sum((m==0)&(n==0)),sum((m==1)&(n==0)),sum((m==0)&(n==1))
(tp+tn)/(tp+tn+fn+fp)

In [37]:
(tp+tn)/(tp+tn+fn+fp)

0.8333333333333334

0.8333333333333334